<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Análise de Acessibilidade Web do Site</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="content-container">
            <h1>Gerar análise<br>de Acessibilidade Web do site</h1>
            <form id="analisarForm" method="post" action="{% url 'index' %}">
                {% csrf_token %}
                
                <div class="inputs-row">
                    <!-- Campo de URL -->
                    <div class="input-group">
                        <label for="url">Insira o link do site</label>
                        <div class="url-input-container">
                            <span class="icon-placeholder"></span>
                            <input type="url" id="url" name="url" placeholder="www.exemplo.gov.br" required>
                        </div>
                    </div>

                    <!-- Campo de Profundidade -->
                    <div class="input-group">
                        <label for="profundidade">Selecione a profundidade</label>
                        <div class="depth-selector">
                            <select id="profundidade" name="profundidade">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="0">Sem profundidade</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit">Gerar relatório</button>
            </form>
        </div>
    </div>

    <!-- Modal de Carregamento -->
    <div id="loadingModal" class="modal">
        <div class="modal-content">
            <div class="spinner"></div>
            <p>Carregando...</p>
        </div>
    </div>

    <script>
        // Seleciona o formulário e o modal
        const form = document.getElementById('analisarForm');
        const loadingModal = document.getElementById('loadingModal');

        // Adiciona um ouvinte de evento para o envio do formulário
        form.addEventListener('submit', function(event) {
            // Exibe o modal de carregamento
            loadingModal.style.display = 'flex';
        });
    </script>
</body>
</html>
